.card{
    border-style: outset;
    background-color: white    ;
    margin-bottom: 20px;
    padding-bottom:20px;
    
}

.card:hover {
    background-color:#f2f2f2;
     border-style: ridge; 
     border: solid;
  
  }
  
  .coach-list{
      margin-bottom: 100px;
  }