
.footer {
    flex-shrink: 0;
    flex-grow: 0;
    background: #333333 ;
    padding: 3px 15px;
    /* position: relative; */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 10px;
    color: white;
    margin-top: 148px;
  }
  /* 
  #eee
  #404040
  
 */