<div class="contact-us">
  <!--Contact us logo-->
  <div class="scenary">
    <img class="pic" src="../assets/map.png">
  </div>
  
  <!--data-->
  <div class="content">
    <h1 class="head">Corporate Head Office</h1>
  </div>

  <div class="row">
    
    <div class="col-md-3">

        <div class="Pune">
          <div>
            <h2>Pune</h2>
          </div>
          <div>East Ave, </div>
          <div>Joggers Park Lane, </div>
          <div>Kalyani Nagar East Avenue,</div>
          <div>Nilanjali Housing Colony Pune,</div>
          <div>Maharashtra 411006.</div>
        </div>

    </div>

    <div class="col-md-3">

      <div class="Ranchi">
        <div>
          <h2>Ranchi</h2>
        </div>
        <div>RIMS,</div>
        <div>Bariatu, </div>
        <div>Ranchi, Jharkhand.</div>
      </div>

    </div>

    <div class="col-md-3">

      <div class="Kashmir">
        <div>
          <h2>Kashmir</h2>
        </div>
        <div> Makai Point,</div>
        <div>Boulevard Road, </div>
        <div>Srinagar, Jammu and Kashmir.</div>
      </div>

    </div>

    <div class="col-md-3">

      <div class="phone">
        <div> <label>Ph: </label>+919513164737</div>
        <div><label>Call Centre Time:</label> 24*7</div><br/>
        <div><strong>Hotels Hotline</strong></div>
        <div><label>Ph:</label> +918655730366</div><br/>
        <div><label>Call Centre Time:</label> 9-19Hrs</div>
        <div><strong>press@JoyRide.com</strong></div>
      </div>

    </div>

  </div>


 


 


 
