
<div class="about-us">
<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-12">
      <h1><strong>About us</strong></h1>
      <!-- <h4>Lorem ipsum..</h4> -->
      <p style="font-size: 20px;">Online bus reservation system is a project which provides an 
        online portal for bus ticket reservation. This application allows 
        customers to book bus tickets from anywhere and anytime. The customer 
        can easily book and cancel their tickets at theircomfort. The customer 
        can view all the details of the seats, bus, and route along with pictures.
         The customer can also view and download the details of the journey and 
         journey timings. This will give customer an overview of the journey and 
         will be a hassle-freetask of doing bus reservation at fingertips.
        </p>
      <!-- <button class="btn btn-default btn-lg">Get in Touch</button> -->
    </div>
  </div>
</div>

<h2><strong>Management Team</strong></h2>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <!-- <span class="glyphicon glyphicon-globe logo"></span> -->
      <img src="../../assets/man.jpg" alt="" style="height: 200px;width: 200px; border-radius: 50%; margin-top: 55px;">
    </div>
    <div class="col-sm-8">
      <h3>Sritama Ghosh</h3>
      <h4> <strong>Team Leader - JoyRide</strong></h4>
      <p style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus 
        bibendum velit, ut aliquet nibh. Fusce sollicitudin semper metus non bibendum.
         Aliquam nec lacus tortor. Pellentesque pharetra efficitur dolor, id tempus est
          ullamcorper vitae. Sed eget mauris molestie, sollicitudin urna at, vestibulum risus.
           Vestibulum non dui a magna consectetur faucibus quis quis augue. Orci varius natoque 
           penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut mauris lectus.
            Aenean bibendum, ipsum at viverra bibendum, magna purus venenatis nisi, condimentum pharetra
             risus purus eget arcu. In pharetra augue ipsum, a porttitor quam ullamcorper at. Nullam 
             scelerisque iaculis sem. Cras mattis vulputate fermentum.</p>
    </div>
  </div>
</div>


<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <!-- <span class="glyphicon glyphicon-globe logo"></span> -->
      <img src="../../assets/man.jpg" alt="" style="height: 200px;width: 200px; border-radius: 50%; margin-top: 55px;">
    </div>
    <div class="col-sm-8">
      <h3>Jnanesh Bhat</h3>
      <h4> <strong>Corporate Slave - JoyRide</strong></h4>
      <p style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus 
        bibendum velit, ut aliquet nibh. Fusce sollicitudin semper metus non bibendum.
         Aliquam nec lacus tortor. Pellentesque pharetra efficitur dolor, id tempus est
          ullamcorper vitae. Sed eget mauris molestie, sollicitudin urna at, vestibulum risus.
           Vestibulum non dui a magna consectetur faucibus quis quis augue. Orci varius natoque 
           penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut mauris lectus.
            Aenean bibendum, ipsum at viverra bibendum, magna purus venenatis nisi, condimentum pharetra
             risus purus eget arcu. In pharetra augue ipsum, a porttitor quam ullamcorper at. Nullam 
             scelerisque iaculis sem. Cras mattis vulputate fermentum.</p>
    </div>
  </div>
</div>


<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <!-- <span class="glyphicon glyphicon-globe logo"></span> -->
      <img src="../../assets/man.jpg" alt="" style="height: 200px;width: 200px; border-radius: 50%; margin-top: 55px;">
    </div>
    <div class="col-sm-8">
      <h3>Jay Kumar</h3>
      <h4> <strong>Corporate Slave - JoyRide</strong></h4>
      <p style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus 
        bibendum velit, ut aliquet nibh. Fusce sollicitudin semper metus non bibendum.
         Aliquam nec lacus tortor. Pellentesque pharetra efficitur dolor, id tempus est
          ullamcorper vitae. Sed eget mauris molestie, sollicitudin urna at, vestibulum risus.
           Vestibulum non dui a magna consectetur faucibus quis quis augue. Orci varius natoque 
           penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut mauris lectus.
            Aenean bibendum, ipsum at viverra bibendum, magna purus venenatis nisi, condimentum pharetra
             risus purus eget arcu. In pharetra augue ipsum, a porttitor quam ullamcorper at. Nullam 
             scelerisque iaculis sem. Cras mattis vulputate fermentum.</p>
    </div>
  </div>
</div>


<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <!-- <span class="glyphicon glyphicon-globe logo"></span> -->
      <img src="../../assets/man.jpg" alt="" style="height: 200px;width: 200px; border-radius: 50%; margin-top: 55px;">
    </div>
    <div class="col-sm-8">
      <h3>Nadeem Hussain Kandroo</h3>
      <h4> <strong>Corporate Slave - JoyRide</strong></h4>
      <p style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus 
        bibendum velit, ut aliquet nibh. Fusce sollicitudin semper metus non bibendum.
         Aliquam nec lacus tortor. Pellentesque pharetra efficitur dolor, id tempus est
          ullamcorper vitae. Sed eget mauris molestie, sollicitudin urna at, vestibulum risus.
           Vestibulum non dui a magna con sectetur faucibus quis quis augue. Orci varius natoque 
           penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut mauris lectus.
            Aenean bibendum, ipsum at viverra bibendum, magna purus venenatis nisi, condimentum pharetra
             risus purus eget arcu. In pharetra augue ipsum, a porttitor quam ullamcorper at. Nullam 
             scelerisque iaculis sem. Cras mattis vulputate fermentum.</p>
    </div>
  </div>
</div>
</div>