
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
/* .container{

    margin-top: 20px;
    float: center;
    
}
.container-fluid{
    width: 100%;
    margin: auto;
} */



