<div class="jumbotron" style="background-color: grey;">

    <div class="row">

        <div class="col-md-1" ></div>

        <div class="col-md-5" style="margin-left: 60px;">
            <div style="font-size: 30px;padding: 20px;"><strong>100+</strong></div>
            <div style="font-size: 20px;"><strong>Daily Rides</strong></div>
        </div>

        <div class="col-md-5">
            <div style="font-size: 30px;padding: 20px;"><strong>10000+</strong></div>
            <div style="font-size: 20px;"><strong>Daily Passengers</strong></div>
        </div>


        <div class="col-md-1"></div>

    </div>

</div>





<label style="margin-left: 340px;font-size: 30px; padding: 40px;">Why Us?</label>

  <div class="row">
      <div class="col-md-4">

        <div class="card">
            <img class="card-img-top" src="../../assets/man.jpg" style="width: 270px;" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        

      </div>

      <div class="col-md-4">

        <div class="card">
            <img class="card-img-top" src="../../assets/man.jpg" style="width: 270px;" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        

      </div>

      <div class="col-md-4">

        <div class="card">
            <img class="card-img-top" src="../../assets/man.jpg" style="width: 270px;" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        
      </div>

  </div>

  <label style="margin-left: 340px;font-size: 30px; padding: 40px;">Why Us?</label>

  <div class="row">
      <div class="col-md-4">

        <div class="card">
            <img class="card-img-top" src="../../assets/man.jpg" style="width: 270px;" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        

      </div>

      <div class="col-md-4">

        <div class="card">
            <img class="card-img-top" src="../../assets/man.jpg" style="width: 270px;" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        

      </div>

      <div class="col-md-4">

        <div class="card">
            <img class="card-img-top" src="../../assets/man.jpg" style="width: 270px;" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        
      </div>

  </div>