.split_input{display:table;border-spacing:0}
.split_input_item{display:table-cell;border:1px solid #9e9ea6}
.split_input_item:not(:first-child){border-left:none}
.split_input_item:first-child{border-top-left-radius:5px;border-bottom-left-radius:5px}
.split_input_item:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px}
.split_input_item.focused{border:1px double #2780f8;box-shadow:0 0 7px rgba(39,128,248,.3)}
.split_input_item input{height:4rem;text-align:center;font-size:2.5rem;border:none;background:0 0;box-shadow:none}
.split_input_item input:active,.split_input_item input:focus,.split_input_item input:hover{box-shadow:none}
 input[type=number] {
    font-size: 1.25rem;
    /* line-height: normal;
    padding: .75rem; */
    border: 1px solid #C5C5C5;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    color: #555459;
    width: 100%;
    max-width: 100%;
    /* font-family: Slack-Lato,appleLogo,sans-serif; */
    /* margin: 0 0 .5rem; */
    -webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    -moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: none;
    height: auto;
}

.confirmation_code_group{
    padding-left: 50px;
}

label{
    padding-left: 240px;
    font-size: large;
    padding-bottom: 10px;
}

.element{
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 33px;
}

button{
    margin-left: 225px;
    margin-top: 30px;
}