
.container{

    text-align: center;
    margin: auto;
    width:100%;
    overflow: visible;
    /* background: url('https://api.iconify.design/zmdi-seat.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/zmdi-seat.svg?height=2&inline=true');
    vertical-align: -0.125em; */

}
.heading{

    margin: auto;
    width:20%; 
    background-color: black;
    color:white;
    border-radius: 5px;
   
   

}
.seatgrid{

    text-align: center;
    width: 30%;
    margin: auto;
    border: 5px solid black;
    padding-left: 25px;
    padding-top: 25px;
    
}
.row{
    /* background-color:rgb(233, 222, 222); */
    padding-left: 5px;
}
img{
    height: 30px;
    padding-left: 10px;
    padding-bottom: 3px;
}

.btn-align{
    float: right;
    padding-top: 10px;    
}
.nav2{
    margin-top: 0px;

}
.header{
    margin-bottom: 0px;
}
.footer {
   margin-top: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:10px;
    border-radius: 5px;
    background-color:black;
    color:grey;
    text-align: center;
    
 }
 
 #bt{
     margin-left: 15px;
 }