<div class="normal">
  
</div>
<div class="big-image modal modal-content animate">
    <div class="container">
      <h1>Login Form</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
    
        <div class="form-group">
          <label>Email <span class="lblError">*</span></label>
          <input [class.is-invalid]="loginForm.get('email').invalid && loginForm.get('email').touched" formControlName="email" type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter your email" required>
          <small *ngIf="loginForm.get('email').hasError('required')  && loginForm.get('email').touched" class="text-danger"> Email required!</small>
          <small *ngIf="loginForm.get('email').hasError('pattern')" class="text-danger">Invalid email!</small>
    
        </div>
      
        <div class="form-group">
          <label>Password <span class="lblError">*</span></label>
          <input   [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched" formControlName="password" type="password" class="form-control"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter your password" required>
          <small *ngIf="loginForm.get('password').hasError('required')  && loginForm.get('password').touched" style="color:red;"> Password required!</small>
          <small *ngIf="loginForm.get('password').hasError('pattern')" style="color:red;">Invalid Password!</small>
    
        </div>
      
      
        <label><input type="checkbox" checked="checked" name="remember"> Remember me</label>
         
        <span class="psw"> <a href="#">Forgot Password?</a></span>
         
            <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Register</button>
               
            <button class="btn btn-secondary" type="reset">Cancel</button>
           
        
    
      </form>
    </div>
    </div>