           
              <div class="change-pswd">
              <div class="row" id="form-top" >
                    <div class="col-md-12">
                        <label>Old Password</label>
                        <input type="password" required class="form-control form-control-sm" ngModel name="depart_date" >
                    </div>

                    <div class="col-md-12">
                        <label for="">New Password</label>
                        <input type="password" required class="form-control form-control-sm" ngModel name="return_date" > 
                    </div>

                    <div class="col-md-12">
                        <label for="">Confirm Password</label>
                        <input type="password" required class="form-control form-control-sm" ngModel name="return_date" > 
                    </div> 
 
               </div>

                <div class="row" style="padding-top: 20px;padding-left: 155px;">
                    <div class="col-md-12">
                        <button class="btn btn-primary" style="width: 150px;">Reset Password</button>
                    </div> 
                </div>
            </div>





