<div class="row" id="top-layer">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <a  class="thumbnail">
          <label>Account Balance</label>
            <h1>1000000</h1>
      </a>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <a  class="thumbnail">
            <label>UPI ID</label>
              <h1>joyride@upi</h1>
        </a>
      </div>  
      
      <div class="col-md-4"></div>
      <div class="col-md-4" id="reg" >
        <a  class="thumbnail">
            <label>Registered Mobile</label>
              <h1>9798790888</h1>
        </a>
      </div>  
      <div class="col-md-4"></div>
      
</div>
  