<!--For adding passengers-->

<div class="passengers">
    <p>Enter number of seats you wish to book</p>
    <input type="number" #numSeats="ngModel" class="form-control mb-2 mr-sm-2" name="numberOfSeats"
        [(ngModel)]="numberOfSeats" required>
    <div *ngIf="numSeats.invalid &&(numSeats.dirty || numSeats.touched)">
        <div *ngIf="numSeats.errors.required" style="color:red;">Number of Seats is required</div>

    </div>
    <br />
    <br />
    <form #addpassenger="ngForm" (ngSubmit)="addPassenger(addpassenger)">
        <table>
            <!-- <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                </tr>
            </thead> -->
            <tr *ngFor="let item of [].constructor(numberOfSeats);let i=index">
                <div ngModelGroup="passengers{{i}}">
                    <td>
                        <div class="form-group">
                            <input type="text" #fname="ngModel" class="form-control mb-2 mr-sm-2"
                                placeholder="Enter first name" name="firstName" id="fn" ngModel required>
                            <div *ngIf="fname.invalid &&(fname.dirty || fname.touched)">
                                <div *ngIf="fname.errors.required" style="color:red;">First Name is required</div>
                                <!--<div *ngIf="email.errors.pattern" style="color:red;">Invalid email</div>-->
                            </div>

                        </div>

                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" #lname="ngModel" class="form-control mb-2 mr-sm-2"
                                placeholder="Enter last name" name="lastName" id="ln" ngModel required>
                            <div *ngIf="lname.invalid &&(lname.dirty || lname.touched)">
                                <div *ngIf="lname.errors.required" style="color:red;">Last Name is required</div>
                                <!--<div *ngIf="email.errors.pattern" style="color:red;">Invalid email</div>-->
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="form-group">
                            <input type="radio" #gen="ngModel" class="g" id="m" name="gender" value="Male"
                                [(ngModel)]="passenger.gender">M
                            <input type="radio" class="g" id="f" name="gender" value="Female" ngModel>F
                            <div *ngIf="gen.errors" style="color:red;">Gender is required</div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" #Age="ngModel" class="form-control mb-2 mr-sm-2" name="age" min="3"
                                id="ag" ngModel required>
                            <div *ngIf="Age.invalid &&(Age.dirty || Age.touched)">
                                <div *ngIf="Age.errors.required" style="color:red;">Age is required</div>
                                <div *ngIf="Age.value<3" style="color:red;">Age > 3 is required</div>

                            </div>
                        </div>
                    </td>
                </div>

            </tr>



        </table>
        <button type="submit" class="btn btn-primary mb-2" [disabled]="addpassenger.invalid">Add
            Passenger</button>
    </form>
</div>
<br />
<br />
