
.jumbotron{
    padding-top: 100px;
    height: 300px;
}

.search{
    width: 80%;
    margin: auto;
}

.contact-cards{
    padding-top: 20px;
    padding-bottom: 30px;
    border:solid;
    width:50%;
    margin: auto;
    text-align: center;
    background-color:white;
    font-size: large;
}
