
.middle-body{
    padding-top: 120px;
    margin-top: 50px;
}



.header-component{
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 100000;
 
}
/* 
.main-body{
    background-image: url('../assets/bus-background.jpg');
      height: 100vh;  
     position: relative;  
    background-size: 100% 100%;
}  */


