
<h3 align="center"> <b>Search A Bus </b></h3>
<div class="route">
<select  id="from" name='from'>
    <option value="">From</option>
    <option value="Cambodia">Cambodia</option>
    <option value="Hong Kong">Hong Kong</option>
    <option value="India">India</option>
    <option value="Japan">Japan</option>
    <option value="Korea">Korea</option>
    <option value="Laos">Laos</option>
    <option value="Myanmar">Myanmar</option>
    <option value="Singapore">Singapore</option>
    <option value="Thailand">Thailand</option>
    <option value="Vietnam">Vietnam</option>
</select>


<select id="to" name='to' >
    <option value="">To</option>
    <option value="Cambodia">Cambodia</option>
    <option value="Hong Kong">Hong Kong</option>
    <option value="India">India</option>
    <option value="Japan">Japan</option>
    <option value="Korea">Korea</option>
    <option value="Laos">Laos</option>
    <option value="Myanmar">Myanmar</option>
    <option value="Singapore">Singapore</option>
    <option value="Thailand">Thailand</option>
    <option value="Vietnam">Vietnam</option>
</select>

</div>



<div class="date-level">

    <label for="departure">Departure date:</label>
    <input name="departure" type="date"  id="departure" placeholder="Select date...">



    <label for="return">Return date:</label>
    <input name="return" type="date" id="return" placeholder="Select date...">

    <button class="btn btn-success">Search</button>
</div>
