.route{
    padding-top: 30px;
    padding-left: 300px;
}

#from{
    margin-left: 0px;
    margin-right: 80px;
    width: 300px;
    height: 30px;
}

#to{
    width: 300px;
    height: 30px;
}

.date-level{
    margin-top: 40px;
    margin-left: 300px;
   
}

#departure{
    margin-right: 130px;
}

#return{
    margin-right: 80px;
}