        <div class="row">
            <form #searchBusForm="ngForm" (ngSubmit)="busList()" >
            <div class="form-group col-md-6" id="from">
              <label>From</label>
              <select  required #from="ngModel"  class="form-control form-control-sm" name="from" [(ngModel)]="busQuery.source">
                <option value="Mumbai" selected>Mumbai</option>
                <option value="Pune">Pune</option>              
                <option value="Madurai">Madurai</option>
              </select>


            </div>

            <div class="form-group col-md-6"  id="to">
                <label>To</label>
                <select  class="form-control form-control-sm" required name="to"  [(ngModel)]="busQuery.destination">
                  <option value="Delhi">Delhi</option>
                  <option value="Pune">Pune</option>              
                  <option value="Jammu">Jammu</option>
                </select>
              </div>              
  

              <div class="row">
                    <div class="col-md-6">
                        <label for="">Date</label>
                        <input type="date" required class="form-control form-control-sm"  name="depart_date" [(ngModel)]="busQuery.dateOfJourney">
                    </div>
                    <div class="col-md-6">
                        <label for="">Return (Optional)</label>
                        <input type="date" required class="form-control form-control-sm" ngModel name="return_date" > 
                    </div> 
               </div>

                <div class="row" style="padding-top: 40px;padding-left: 370px;">
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="submit" style="width: 110px;"><span class="glyphicon glyphicon-search" style="padding-right: 5px;"></span>
                          Search</button>
                    </div> 
                </div>
              </form>

        </div>



