
<div class="bus-info">
    <h2>{{state.busName}}</h2>
    
    <div class="row">
            <div class="col-md-6" style="padding-top: 20px; padding-bottom: 20px;">
                <h4>No. Of Seats: {{state.noOfSeats}}</h4>
            </div>
            <div class="col-md-6" style="padding-top: 20px;">
                <h4>Type:  {{state.busType}}</h4>
            </div>
    </div>

    <div class="row">

        <div class="col-md-6">
        <h4> Cost / Day :   &#x20B9; {{state.costPerDay}}</h4>
        </div>
        <div class="col-md-6">
          
            <span style="font-size: 18px;">No.of Days: </span> 
            <form #coachInfo="ngForm" (ngSubmit)="test()">
            <input type="number" min="0" max="15" value="1" name="noOfRentalDays" [(ngModel)]="state.noOfRentalDays">
            </form>
        </div>

        <div class="col-md-12">

        <div class="amenities" style="float: left; padding-left: -20px; padding-top: 40px;padding-bottom: 25px;">
            <h4><strong> Amenities </strong></h4>
        </div>
    </div>


    <div class="row" style="padding-top: 30px;">

                <div class="col-md-4">
                    <img src="../../assets/bottle.png" style="height: 70px;">
                    <label>Water Bottle</label>
                </div>
                <div class="col-md-4">
                    <img src="../../assets/clean.jpg" style="height: 70px;">
                    <label>Sanitized Bus</label>

                </div>
                <div class="col-md-4">
                    <img src="../../assets/charging point.jpg" style="height: 70px;padding-right: 10px  ;">
                    <label>Charging Plug</label>
                </div>
    </div> 
    
    <div class="row" style="padding-top: 60px;">

        <div class="col-md-3"></div>
        <div class="col-md-5">
           <label style="padding-right: 20px;">With Driver</label> <input type="radio"  checked  name="driver" id="driver">
           <label style="padding-right: 20px; padding-left: 20px;">Without Driver</label> <input type="radio" name="driver" id="driver">
        </div>
        <div class="col-md-4"></div>

    </div>

    <div class="row" style="padding-top: 60px;">
        <div class="col-md-3"></div>
        <div class="col-md-5" style="font-weight: bold;">
                
                <div class="row">
                    <div class="col-md-6">Cost/Day</div>
                    <div class="col-md-6">{{state.costPerDay}}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">No. of Days</div>
                    <div class="col-md-6"> X {{state.noOfRentalDays}}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">Gross Cost</div>
                    <div class="col-md-6"> 25000</div>
                </div>
                <div class="row">
                    <div class="col-md-6">Security Deposit</div>
                    <div class="col-md-6"> 15000</div>
                </div>
                <hr style="margin-left: -20px; margin-top: 10px;height:2px;width: 300px ;border-width:0;background-color:gray">

                <div class="row" style="padding-top: -40px;">
                    <div class="col-md-6">Total</div>
                    <div class="col-md-6"> 40000</div>
                </div>
                
                <div class="row"></div>
                <div class="col-md-4"></div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row" style="padding-top: 40px;">

        <div class="col-md-4"></div>
        <div class="col-md-4">
             <button class="btn btn-success">
              Proceed To Pay         
             <span class="glyphicon glyphicon-arrow-right" style="padding-left: 5px;"></span>
            </button>
         
         </div>
        <div class="col-md-4"></div>

    </div>


</div>
