<div class="bus">
 
    <div>
      <table class="buslist" style="border:2px solid ; margin: 10px;">
        <tr class="columnlist" style="padding: 80px;height: 40px;">
          <th>Traveller</th>
          <th>Depart Time</th>
          <th>Arrival Time</th>
          <th>From</th>
          <th>To</th>
          <th>Seats Left</th>
          <th>Seats </th>
          <th>Fare</th>
          <th>Distance</th>
          <th>Booking Option</th>
        </tr>

        <tr class="attributes" *ngFor="let b of listOfBus">
          <ng-container>
            <td>{{b.busName  }}</td>
            <td>{{b.departTime }}</td>
            <td>{{b.arrivalTime }}</td>
            <td>{{b.source }}</td>
            <td>{{ b.destination }}</td>
            <td>{{b.seatsLeft }}</td>
            <td>{{b.noOfSeats }}</td>
            <td>{{b.fare  }}</td>
            <td>{{ b.distance}}</td>
            <td><button type="submit" class="btn btn-primary" (click)="bookThisBus(b)" style=" margin: 10px;">Book</button></td>
          </ng-container>
        </tr>
      </table>
    </div>
</div>